* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Ocrfregularc';
  src: url("../fonts/Ocrfregularc.otf");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

body {
  background: #ffffff;
  color: #000000;
  font-family: 'Ocrfregularc';
}

.container {
  width: 510px;
  margin: auto;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 17px 13px 27px;
}

.navbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-logo__text {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-left: 10px;
}

.navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.navbar-menu__list {
  text-decoration: none;
  color: #000000;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.05em;
  margin-right: 10px;
}

.navbar-menu__list:hover {
  border-bottom: 1px solid #000000;
}

.navbar-menu__list:last-child {
  margin-right: 0;
}

.menu-btn {
  display: none;
}

.hero {
  background: url("../img/bg.jpg") center no-repeat;
  padding-top: 84px;
  padding-bottom: 6px;
}

.hero-text {
  display: block;
  margin-left: 48px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.hero-title {
  margin-top: 0;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 13px;
  color: #2F3029;
}

.hero-subtitle {
  margin-top: 0;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.025em;
  margin-bottom: 31px;
}

.hero-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-buttons__button {
  background: #2F3029;
  width: 109px;
  padding: 7px 0;
  border: 1px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  color: #000000;
  margin-right: 10px;
  font-size: 13px;
  line-height: 13px;
  color: #FFFFFF;
  text-align: center;
}

.hero-buttons__button:hover {
  background: none;
  border: 1px solid #2F3029;
  color: #2F3029;
}

.hero-buttons__button:last-child {
  margin-right: 0;
}

@media (max-width: 509px) {
  .container {
    width: 320px;
  }
  .navbar {
    padding: 5px 0 5px 0;
  }
  .navbar-block {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 40px 40px;
  }
  .navbar-block-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    width: 100%;
  }
  .navbar-menu__list {
    text-align: left;
    margin-right: 0;
    margin-bottom: 10px;
    padding-top: 7px;
    font-size: 18px;
  }
  .menu-btn {
    display: block;
    position: relative;
    right: 0;
    top: 0;
    width: 25px;
    height: 3px;
    background-color: #000000;
    border: none;
    cursor: pointer;
  }
  .menu-btn:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 3px;
    background-color: #000000;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    margin-top: -8px;
  }
  .menu-btn:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 3px;
    background-color: #000000;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    margin-top: 8px;
  }
  .menu-btn-active {
    height: 0;
  }
  .menu-btn-active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: 0;
  }
  .menu-btn-active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: 0;
  }
  .hero {
    background-size: 100%;
    padding-top: 15px;
  }
  .hero-text {
    margin: 0;
    text-align: center;
  }
  .hero-title {
    margin-top: 20px;
    font-size: 36px;
    line-height: 30px;
  }
  .hero-subtitle {
    margin-bottom: 15px;
  }
  .hero-buttons__button {
    font-size: 11px;
    width: 90px;
  }
}
/*# sourceMappingURL=style.css.map */